.container{
  padding: 40px 90px;
  text-align: left;
}

.container .header{
  margin: 20px;
}

.container .footer{
  text-align: left;
  position: absolute;
  bottom: 0;
}

.intro{
  word-wrap: normal;
  text-overflow: ellipsis;
  padding: 8px;
  margin:8px
}